.page {
 height: 200vh;
 width: 100vw;
margin: 0px;
}

#header {
  background-image: url(./assets/background.jpg);
  text-align: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  border: solid pink 5px;
  padding: 200px;
  color: white;
}

.logo {
  /* padding-top: 350px; */


}


#container {
  width: 100vw;
  height: 100vh;
  background-color:rgb(41,46,56);
  border: solid red 1px;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.row {
  display: block;
  background-color: white;
  width: 80%;
  
  justify-content: center;
  padding: 40px;

}

.picture {
  float: left;
  height: 150px;
  width: 250px;
  border-radius: 5%;
}

p, h2 {
  padding-left: 270px;

}